.container{
  border: 1px solid #ddd;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
p {
  display: inline-block;
  margin-right: 10px;
}
form{
  text-align: center;
}
input{
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #a39e9e;
  &:focus{
    outline: none;
  }
}
button{
  background-color: #fd5f00;
  border: none;
  border-radius: 12.5px;
  padding: 5px 8px;
  color: #fff;
  cursor: pointer;
  transition: .5s;
  margin-left: 5px;
  &:focus{
    outline: none;
  }
  &:hover, &:active{
    background-color: darken(#fd5f00, 5%);
  }
}
.dodo-list{
  color: #393E46;
  min-height: 50px;
  li{
    margin-bottom: 5px;
  }
  p{
    margin: 0;
    cursor: pointer;
  }
  span{
    margin-left: 5px;
    font-size: 8px;
    background-color: #E8222D;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    &:hover, &:active{
      background-color: darken(#E8222D, 5%);
    }
  }
}
.footer{
  color: #a39e9e;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  span, a{
    margin: 0 10px;
    padding: 2px 5px;
    border-radius: 5px;
  }
  span{
    color: #fff;
    background-color: #ffb549;
  }
  a{
    text-decoration: none;
    color: #a39e9e;
  }
}
#app{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}